body{
  /* background: url("https://images.pexels.com/photos/159376/turntable-top-view-audio-equipment-159376.jpeg") no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20; */
  background-color: #000000;
  padding: 0px;
  margin: 0px;
}
#gradient
{
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}
#title{
  color:#fff;
  letter-spacing: 20px;
}
#resultBar{
  max-width: inherit;
  margin:20px auto;
  padding:10px;
  background-color: grey;
  border-radius: 10px;
  color: #fff;
}
#links a.secure:after{
  content:'Safe';
  background-color: green;
  color: white;
  margin: 5px;
  border-radius: 3px;
  padding: 5px;
}
#links a.nonSecure:after{
  content:'Not Safe';
  background-color: red;
  color: white;
  margin: 5px;
  border-radius: 3px;
  padding: 5px;
}
#links a.pdf:after{
  content:'PDF';
  background-color: purple;
  color: white;
  margin: 5px;
  border-radius: 3px;
  padding: 5px;
}


#links a{
  margin: 2px;
  padding: 8px;
  border: 1px  solid;
  border-radius: 5px;
}
